<p style="text-align: center;">Welcome to Angular 16</p>

<!-- <button> Click  here</button>
<button>Space</button> -->

<h2>Ng If example</h2>

<input type="radio" name="radio1" (click)="changevalue(true)">True
<input type="radio" name="radio1" (click)="changevalue(false)">False
 <div *ngIf="isvalid  ; else elseblock ">
   This is Valid Data
</div>

<!-- to use else block we will create template reference -->
<ng-template #elseblock>
    <div>
      This is Else Block Invalid Data
    </div>
</ng-template>

 <!-- then thenblock              can use then else block also in if directive
<ng-template #thenblock>
    <div>
      This is Then  Block Invalid Data
    </div>
</ng-template> -->


<h3>Switch Example</h3>


Enter Your Name:<input type="text" #txtname (keyup)="0"/>

 <div [ngSwitch]="txtname.value">                                     <!--For direct value can take ts file Name also && It is Case Sensitive Also-->
  <div *ngSwitchCase="'Virat'">Hello Virat</div>
    <div *ngSwitchCase="'Rohit'">Hello Rohit</div>
      <div *ngSwitchCase="'MSD'">Hello MSD</div>
        <div *ngSwitchCase="'Suresh'">Hello Suresh</div>
        <div *ngSwitchDefault>No Case Matched</div>
</div> 


<h2>Using ngFor</h2>
<ul>
  <li *ngFor="let student of Students">
    {{student.name}}
    </li>
</ul>

<h3>Using ngFor with Index,first,last,odd,even</h3>
<ul>
  <li *ngFor="let student of Students ; let i=index ; let f=first ; let l=last ; let od=odd ; let ev=even">
    {{student.name}} - {{i}} - {{f}} - {{l}} - {{od}} - {{ev}}
    </li>
</ul>






















<!-- <div *ngIf="!isvalid">
    The data is not Valid
</div>  -->





